<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"></properties>
    <settings>
        <setting name="cacheEnabled" value="true" />
        <setting name="lazyLoadingEnabled" value="true" />
<!--        <setting name="logImpl" value="LOG4J2" />-->
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    <!--
    plugins在配置文件中的位置必须符合要求，否则会报错，顺序如下:
    properties?, settings?,
    typeAliases?, typeHandlers?,
    objectFactory?,objectWrapperFactory?,
    plugins?,
    environments?, databaseIdProvider?, mappers?
    -->
    <plugins>
        <!-- com.github.pagehelper为PageHelper类所在包名 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- 使用下面的方式配置参数，后面会有所有的参数介绍 -->
            <property name="param1" value="value1"/>
        </plugin>
    </plugins>

    <!-- 1.配置环境，可配置多个环境（比如：develop开发、test测试） -->
    <environments default="develop">
        <environment id="develop">
            <!-- 1.1.配置事务管理方式：JDBC/MANAGED
            JDBC：将事务交给JDBC管理（推荐）
            MANAGED：自己管理事务
              -->
            <transactionManager type="JDBC"></transactionManager>

            <!-- 1.2.配置数据源，即连接池 JNDI/POOLED/UNPOOLED
                JNDI：已过时
                POOLED：使用连接池（推荐）
                UNPOOLED：不使用连接池
             -->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driverClassName}"/>
<!--                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>

        </environment>
    </environments>
    <!-- 2.导入Mapper配置文件，如果mapper文件有多个，可以通过多个mapper标签导入 -->

    <mappers>
        <mapper resource="EmpMapper.xml"/>
    </mappers>
</configuration>
